<div class="city-header clearfix">
	<ul class="city-menu clearfix">
		<li id="index_settlement" class="city-menu-item active"><a href="" class="city-menu-a" title="首页">首页</a></li>
		<!--  
		<li class="city-menu-item"><a href="javascript:;" class="city-menu-a" title="配送监控">配送监控</a></li>
		<li class="city-menu-item"><a href="javascript:;" class="city-menu-a" title="订单列表">订单列表</a></li>
		<li class="city-menu-item"><a href="javascript:;" class="city-menu-a" title="站点管理">站点管理</a></li>
		-->
		<li id="menu_systemSetting" class="city-menu-item hide">
			<a href="javascript:void(0);" class="city-menu-a" title="系统设置">系统设置</a>
			<ul class="city-submenu-group">
				<li id="menu_deptManagement" class="city-submenu-group-item hide">
					<a href="/dsp/system/deptManagement/deptList.html">部门管理</a>
				</li>
				<li id="menu_roleManagement" class="city-submenu-group-item hide">
					<a href="/dsp/system/roleManagement/roleList.html">角色管理</a>
				</li>
				<li id="menu_userManagement" class="city-submenu-group-item hide">
					<a href="/dsp/system/userManagement/userList.html">用户管理</a>
				</li>
			</ul>
		</li>
		<li id="menu_customerManagement" class="city-menu-item hide">
			<a href="/dsp/settlement/customerManagement/customerList.html" class="city-menu-a" title="客户管理">客户管理</a>
		</li>
		<li id="menu_transportDataManagement" class="city-menu-item hide">
			<a href="/dsp/settlement/transportData/transportDataList.html" class="city-menu-a" title="运输数据">运输数据</a>
		</li>
		<li id="menu_chargeRuleManagement" class="city-menu-item hide">
			<a href="/dsp/settlement/chargeRuleManagement/chargeRuleList.html" class="city-menu-a" title="计费规则">计费规则</a>
		</li>
		<li id="menu_dispatchingMonitor" class="city-menu-item hide">
			<a href="/dsp/consignor/monitor/monitorController.html" class="city-menu-a" title="配送监控">配送监控</a>
		</li>
		<li id="menu_orderManagerment" class="city-menu-item hide">
			<a href="/dsp/consignor/order/orderList.html" class="city-menu-a" title="订单管理">订单管理</a>
		</li>
		<li id="menu_siteManagement" class="city-menu-item hide">
			<a href="/dsp/consignor/site/siteList.html" class="city-menu-a" title="站点管理">站点管理</a>
		</li>
		<li id="menu_settleOrder" class="city-menu-item hide">
			<a href="/dsp/settlement/settleOrder/settleOrderList.html" class="city-menu-a" title="计费规则">订单结算</a>
		</li>
		<li id="menu_driverManagement" class="city-menu-item hide">
			<a href="/dsp/carrier/driverManagement/driverList.html" class="city-menu-a" title="司机管理">司机管理</a>
		</li>
		<li id="menu_vehicleManagement" class="city-menu-item hide">
			<a href="/dsp/system/vehicleManagement/vehicleList.html" class="city-menu-a" title="车辆管理">车辆管理</a>
		</li>
		<li id="menu_vehicleManagement" class="city-menu-item hide">
			<a href="/dsp/system/vehicleManagement/vehicleList.html" class="city-menu-a" title="车辆管理">车辆管理</a>
		</li>
		<li id="menu_distributionMonitor" class="city-menu-item hide">
			<a href="/dsp/carrier/monitor/monitor.html" class="city-menu-a" title="配送监控">配送监控</a>
		</li>
		<li id="menu_carrierOrderMgmt" class="city-menu-item hide">
			<a href="/dsp/carrier/orderMgmt/orderList.html" class="city-menu-a" title="订单管理">订单管理</a>
		</li>
		<li id="menu_statsReport" class="city-menu-item hide">
			<a href="javascript:void(0);" class="city-menu-a" title="统计报表">统计报表</a>
			<ul class="city-submenu-group">
				<li id="menu_orderStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/orderStats.html">订单统计</a>
				</li>
				<li id="menu_customerStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/customerStats.html">客户统计</a>
				</li>
				<li id="menu_settleStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/settleStats.html">结算统计</a>
				</li>
			</ul>
		</li>
		<li id="menu_distributionMonitor" class="city-menu-item hide">
			<a href="/dsp/carrier/monitor/monitor.html" class="city-menu-a" title="配送监控">配送监控</a>
		</li>
		<li id="menu_carrierOrderMgmt" class="city-menu-item hide">
			<a href="/dsp/carrier/orderMgmt/orderList.html" class="city-menu-a" title="订单管理">订单管理</a>
		</li>
		<li id="menu_statsReport" class="city-menu-item hide">
			<a href="javascript:void(0);" class="city-menu-a" title="统计报表">统计报表</a>
			<ul class="city-submenu-group">
				<li id="menu_orderStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/orderStats.html">订单统计</a>
				</li>
				<li id="menu_customerStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/customerStats.html">客户统计</a>
				</li>
				<li id="menu_settleStats" class="city-submenu-group-item hide">
					<a href="/dsp/carrier/stats/settleStats.html">结算统计</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="city-submenu clearfix">
		<li class="city-submenu-item">
			<a href="javascript:;" class="city-person"><i class="iconfont iconfont-person"></i><span id="headerUserName">用户名</span><i class="iconfont iconfont-arrow-b"></i></a>
			<ul class="city-submenu-group">
				<li class="city-submenu-group-item"><a href="/dsp/userCenter.html">个人中心</a></li>
				<li class="city-submenu-group-item"><a id="updatePasswordBtn" href="javascript:void(0);">修改密码</a></li>
			</ul>
		</li>
		<li class="city-submenu-item"><a href="javascript:launchFullscreen();" title="全屏"><i class="iconfont iconfont-fullscreen"></i></a></li>
		<li class="city-submenu-item"><a id="logoutBtn" href="javascript:void(0);" title="退出"><i class="iconfont iconfont-logout"></i></a></li>
	</ul>
</div>
<script src="/js/header.js"></script>