<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">

<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/jquery.i18n.properties-1.0.9.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.select.js"></script>

<script src="/js/common.js"></script>
<!-- 表格控件 -->
<script src="/js/ui/TableWidget.js"></script>
<!-- 下拉控件 -->
<script src="/js/ui/ComboBoxWidget.js"></script>
<!-- 部门控件 -->
<script src="/js/ui/DeptWidget.js"></script>
<!-- 树形控件 -->
<script src="/js/ui/TreeWidget.js"></script>
<!-- 窗口控件-->
<script src="/js/ui/WinWidget.js"></script>
<!-- 多选控件 -->
<script src="/js/ui/CheckBoxWidget.js"></script>
<!-- 时间选择控件 -->
<script src="/js/datetimepicker/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
<script src="/js/ui/TimeWidget.js"></script>
<!-- 第三方图表控件 -->
<script src="/js/highcharts/highcharts.js"></script>
<!-- 饼图 -->
<script src="/js/ui/PieChartWidget.js"></script>
<!-- 柱状图和折线图 -->
<script src="/js/ui/ColumnChartWidget.js"></script>
<!-- 双Y轴图表 -->
<script src="/js/ui/DualYAxisChartWidget.js"></script>